<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%=title %></title>

<!-- Bootstrap CSS File -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<!-- Ext Required Files -->
<link rel="stylesheet" href="/css/custom.css" />

</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <a class="navbar-brand" href="<%=nav[0].link %>"><%=nav[0].title %></a>

   <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
     <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <%for(let i = 1; i < nav.length; i++) { %>
      <li class="nav-item active">
         <a class="nav-link" href="<%=nav[i].link %>"><%=nav[i].title %></a>
       </li>
      <%} %>
     </ul>

     <form class="form-inline my-2 my-lg-0" method="POST">
       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </form>

   </div>
 </nav>
<!-- Navigation Bar End-->
<!-- Main Content -->

<h1>Link ONE!!!</h1>

<%for(let i = 0; i < result.length; i++) { %>
  <div>
    <div>ID: <%=result[i].id %></div>
    <div>Name: <%=result[i].name %></div>
    <div>Country: <%=result[i].country %></div>
  </div>
<%} %>

<!-- Main Content End-->
<!-- Bootstrap & Fontawesome JS Files -->
<script src="/js/jquery.slim.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/all.min.js"></script>
</body>
</html>